/build/
/nbproject/private/
/dist/
/KhanzaHMSServiceMobileJKN/nbproject/private/
/KhanzaHMSAnjungan/nbproject/private/
/KhanzaAntrianPoli/build/
/KhanzaAntrianPoli/nbproject/private/
/KhanzaAntrianPoli/dist/
/KhanzaHMSAnjungan/build/
/KhanzaHMSAnjungan/dist/
/KhanzaCetakAntrianLoket/nbproject/private/
/KhanzaCetakAntrianLoket/build/
/KhanzaCetakAntrianLoket/dist/
/webapps/nbproject/private/
/KhanzaAntrianLoket/nbproject/private/
/KhanzaAntrianLoket/build/
/KhanzaAntrianLoket/dist/
/KhanzaAntrianLoket2/nbproject/private/
/KhanzaAntrianLoket2/build/
/KhanzaAntrianLoket2/dist/
/build
/KhanzaHMSServiceMobileJKNERM/nbproject/private/
