/build/
/nbproject/private/
/dist/
/KhanzaHMSServiceMobileJKN/nbproject/private/
/KhanzaHMSAnjungan/nbproject/private/
/KhanzaAntrianPoli/build/
/KhanzaAntrianPoli/nbproject/private/
/KhanzaAntrianPoli/dist/
/KhanzaHMSAnjungan/build/
/KhanzaHMSAnjungan/dist/
/KhanzaCetakAntrianLoket/nbproject/private/
/KhanzaCetakAntrianLoket/build/
/KhanzaCetakAntrianLoket/dist/
/webapps/nbproject/private/
